.sideBarContainer {
    width: 20%;
    padding: 10px;
    height: 100%;
    position: fixed;
    background-color: #12181b;
    color: white;
}

.sideBarTitle {
    cursor: pointer;
}

.sideBarPageName {
    text-align: center;
    margin-top: 30px;
    cursor: pointer;
    transition: 100ms;
}

.sideBarPageName:hover {
    transform: scale(1.3);
}


@media only screen and (max-width: 780px) {
    .sideBarContainer {
        display: none;
    }

}