:root {
  --font-body: 'Roboto', sans-serif;
  --font-head: 'Archivo Black', sans-serif;
  --font-code: "attribute-mono", monospace;
  --main-dark: #212529;
}


body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head) !important;
}

#root {
  display: flex;
  height: 100%;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.inherit {
  color: inherit;
  text-decoration: inherit;
}

.inherit:hover {
  color: inherit;
  text-decoration: inherit;
}

.center {
  justify-content: center;
}

.p-3 {
  z-index: 2048;
}

.muted {
  pointer-events: none;
}

.page-item a,
.page-link:hover {
  color: var(--main-dark);
}

.page-item.active .page-link {
  border-color: var(--main-dark);
  background-color: var(--main-dark);
}

.page-link:focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.25);
}

.input-group {
  width: 90%;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}

.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0, 0, 0, 0.2);
  border-right: 1.1em solid rgba(0, 0, 0, 0.2);
  border-bottom: 1.1em solid rgba(0, 0, 0, 0.2);
  border-left: 1.1em solid #000000;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}