.accountContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
}

.accountHeader {
    display: flex;
    justify-content: space-between;
}

.createListBtnContainer {
    display: flex;
    padding: 10px;
}